@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-input {
    @apply shadow-sm focus:ring-primary focus:border-primary block w-full sm:text-sm border-gray-300 rounded-md;
}

.btn {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary hover:bg-primary-lighter focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}

.btn-secondary {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}

.btn-danger {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600;
}

.escape-button {
    flex: none;
    font-size: 0;
    border-radius: .375rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    padding: .125rem .375rem;
}

.escape-button::before {
    content: "esc";
    color: #9ca3af;
    font-size: .875rem;
    line-height: 1.25rem;
}

/* hide x */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}